aiohappyeyeballs==2.6.1 ; python_version >= "3.10" and python_version < "3.12"
aiohttp==3.12.4 ; python_version >= "3.10" and python_version < "3.12"
aiosignal==1.3.2 ; python_version >= "3.10" and python_version < "3.12"
alembic==1.16.1 ; python_version >= "3.10" and python_version < "3.12"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
anyio==4.9.0 ; python_version >= "3.10" and python_version < "3.12"
apscheduler==3.11.0 ; python_version >= "3.10" and python_version < "3.12"
async-timeout==5.0.1 ; python_version == "3.10"
attrs==25.3.0 ; python_version >= "3.10" and python_version < "3.12"
backports-datetime-fromisoformat==2.0.3 ; python_full_version >= "3.10.0" and python_version < "3.11"
bcrypt==4.3.0 ; python_version >= "3.10" and python_version < "3.12"
blinker==1.6.2 ; python_version >= "3.10" and python_version < "3.12"
certifi==2025.4.26 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.4.2 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.6 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
deprecated==1.2.18 ; python_version >= "3.10" and python_version < "3.12"
deprecation==2.1.0 ; python_full_version >= "3.10.0" and python_version < "3.12"
dnspython==2.7.0 ; python_version >= "3.10" and python_version < "3.12"
ecdsa==0.19.1 ; python_version >= "3.10" and python_version < "3.12"
email-validator==2.2.0 ; python_version >= "3.10" and python_version < "3.12"
exceptiongroup==1.3.0 ; python_version == "3.10"
flask-bcrypt==1.0.1 ; python_full_version >= "3.10.0" and python_version < "3.12"
flask-jwt-extended==4.7.1 ; python_version >= "3.10" and python_version < "3.12"
flask-limiter==3.12 ; python_version >= "3.10" and python_version < "3.12"
flask-login==0.6.3 ; python_version >= "3.10" and python_version < "3.12"
flask-mail==0.10.0 ; python_version >= "3.10" and python_version < "3.12"
flask-marshmallow==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
flask-migrate==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
flask-sqlalchemy==3.1.1 ; python_version >= "3.10" and python_version < "3.12"
flask-talisman==1.1.0 ; python_full_version >= "3.10.0" and python_version < "3.12"
flask-wtf==1.2.2 ; python_version >= "3.10" and python_version < "3.12"
flask==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
frozenlist==1.6.0 ; python_version >= "3.10" and python_version < "3.12"
gotrue==2.12.0 ; python_version >= "3.10" and python_version < "3.12"
greenlet==3.2.2 ; python_version >= "3.10" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
gunicorn==21.2.0 ; python_version >= "3.10" and python_version < "3.12"
h11==0.16.0 ; python_version >= "3.10" and python_version < "3.12"
h2==4.2.0 ; python_version >= "3.10" and python_version < "3.12"
hpack==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
httpcore==1.0.9 ; python_version >= "3.10" and python_version < "3.12"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "3.12"
hyperframe==6.1.0 ; python_version >= "3.10" and python_version < "3.12"
idna==3.10 ; python_version >= "3.10" and python_version < "3.12"
iniconfig==2.1.0 ; python_version >= "3.10" and python_version < "3.12"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
limits==5.2.0 ; python_version >= "3.10" and python_version < "3.12"
mako==1.3.10 ; python_version >= "3.10" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.12"
marshmallow-sqlalchemy==1.4.2 ; python_version >= "3.10" and python_version < "3.12"
marshmallow==4.0.0 ; python_version >= "3.10" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.4.4 ; python_version >= "3.10" and python_version < "3.12"
ordered-set==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.12"
pluggy==1.6.0 ; python_version >= "3.10" and python_version < "3.12"
postgrest==1.0.2 ; python_version >= "3.10" and python_version < "3.12"
propcache==0.3.1 ; python_version >= "3.10" and python_version < "3.12"
pydantic-core==2.33.2 ; python_version >= "3.10" and python_version < "3.12"
pydantic==2.11.5 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.19.1 ; python_version >= "3.10" and python_version < "3.12"
pyjwt==2.10.1 ; python_version >= "3.10" and python_version < "3.12"
pytest-flask==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
pytest-mock==3.14.1 ; python_version >= "3.10" and python_version < "3.12"
pytest==8.3.5 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
python-http-client==3.3.7 ; python_version >= "3.10" and python_version < "3.12"
realtime==2.4.3 ; python_version >= "3.10" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.12"
rich==13.9.4 ; python_full_version >= "3.10.0" and python_version < "3.12"
sendgrid==6.12.3 ; python_version >= "3.10" and python_version < "3.12"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy==2.0.41 ; python_version >= "3.10" and python_version < "3.12"
storage3==0.11.3 ; python_version >= "3.10" and python_version < "3.12"
strenum==0.4.15 ; python_full_version >= "3.10.0" and python_version < "3.12"
stripe==12.2.0 ; python_version >= "3.10" and python_version < "3.12"
supabase==2.15.2 ; python_version >= "3.10" and python_version < "3.12"
supafunc==0.9.4 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.2.1 ; python_version == "3.10"
typing-extensions==4.13.2 ; python_version >= "3.10" and python_version < "3.12"
typing-inspection==0.4.1 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
tzlocal==5.3.1 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.4.0 ; python_version >= "3.10" and python_version < "3.12"
websockets==14.2 ; python_version >= "3.10" and python_version < "3.12"
werkzeug==3.1.3 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.17.2 ; python_version >= "3.10" and python_version < "3.12"
wtforms==3.2.1 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.20.0 ; python_version >= "3.10" and python_version < "3.12"
